<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.MerchantMapper">
	<resultMap id="BaseResultMap" type="com.mod.loan.model.Merchant">
		<!-- WARNING - @mbg.generated -->
		<id column="merchant_alias" jdbcType="VARCHAR" property="merchantAlias" />
		<result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
		<result column="merchant_app" jdbcType="VARCHAR" property="merchantApp" />
		<result column="merchant_app_ios" jdbcType="VARCHAR" property="merchantAppIos" />
		<result column="merchant_zfb" jdbcType="VARCHAR" property="merchantZfb" />
		<result column="merchant_status" jdbcType="TINYINT" property="merchantStatus" />
		<result column="merchant_channel" jdbcType="VARCHAR" property="merchantChannel" />
		<result column="hlb_id" jdbcType="VARCHAR" property="hlbId" />
		<result column="hlb_rsa_private_key" jdbcType="LONGVARCHAR" property="hlbRsaPrivateKey" />
		<result column="hlb_rsa_public_key" jdbcType="LONGVARCHAR" property="hlbRsaPublicKey" />
		<result column="hlb_md5_key" jdbcType="LONGVARCHAR" property="hlbMd5Key" />
		<result column="hlb_des_key" jdbcType="LONGVARCHAR" property="hlbDesKey" />
		<result column="fuyou_merid" jdbcType="VARCHAR" property="fuyou_merid" />
		<result column="fuyou_secureid" jdbcType="VARCHAR" property="fuyou_secureid" />
		<result column="fuyou_h5key" jdbcType="VARCHAR" property="fuyou_h5key" />
		<result column="huiju_id" jdbcType="VARCHAR" property="huiju_id" />
		<result column="huiju_md5_key" jdbcType="VARCHAR" property="huiju_md5_key" />
		<result column="bind_type" jdbcType="VARCHAR" property="bindType" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

</mapper>