<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.OrderPayMapper">
	<resultMap id="BaseResultMap" type="com.mod.loan.model.OrderPay">
		<!-- WARNING - @mbg.generated -->
		<id column="pay_no" jdbcType="VARCHAR" property="payNo" />
		<result column="uid" jdbcType="BIGINT" property="uid" />
		<result column="order_id" jdbcType="BIGINT" property="orderId" />
		<result column="pay_type" jdbcType="INTEGER" property="payType" />
		<result column="pay_status" jdbcType="INTEGER" property="payStatus" />
		<result column="pay_money" jdbcType="DECIMAL" property="payMoney" />
		<result column="bank" jdbcType="VARCHAR" property="bank" />
		<result column="bank_no" jdbcType="VARCHAR" property="bankNo" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	
	<select id="countOrderPaySuccessRecord" resultType="int">
		select count(0) from tb_order_pay where order_id = #{orderId} and pay_status in (1,3)
	</select>
	
</mapper>