<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.OrderMapper">
	<resultMap id="BaseResultMap" type="com.mod.loan.model.Order">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="order_no" jdbcType="VARCHAR" property="orderNo" />
		<result column="uid" jdbcType="BIGINT" property="uid" />
		<result column="borrow_day" jdbcType="INTEGER" property="borrowDay" />
		<result column="borrow_money" jdbcType="DECIMAL" property="borrowMoney" />
		<result column="actual_money" jdbcType="DECIMAL" property="actualMoney" />
		<result column="total_rate" jdbcType="DECIMAL" property="totalRate" />
		<result column="total_fee" jdbcType="DECIMAL" property="totalFee" />
		<result column="interest_rate" jdbcType="DECIMAL" property="interestRate" />
		<result column="interest_fee" jdbcType="DECIMAL" property="interestFee" />
		<result column="overdue_rate" jdbcType="DECIMAL" property="overdueRate" />
		<result column="overdue_day" jdbcType="INTEGER" property="overdueDay" />
		<result column="overdue_fee" jdbcType="DECIMAL" property="overdueFee" />
		<result column="should_repay" jdbcType="DECIMAL" property="shouldRepay" />
		<result column="had_repay" jdbcType="DECIMAL" property="hadRepay" />
		<result column="reduce_money" jdbcType="DECIMAL" property="reduceMoney" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
		<result column="arrive_time" jdbcType="TIMESTAMP" property="arriveTime" />
		<result column="repay_time" jdbcType="TIMESTAMP" property="repayTime" />
		<result column="real_repay_time" jdbcType="TIMESTAMP" property="realRepayTime" />
		<result column="order_version" jdbcType="INTEGER" property="orderVersion" />
		<result column="merchant" jdbcType="VARCHAR" property="merchant" />
		<result column="follow_user_id" jdbcType="BIGINT" property="followUserId" />
	</resultMap>

	<select id="countOrderPaySuccessOneDay" resultType="int">
		SELECT
		count(0)
		FROM
		tb_order
		WHERE
		uid = #{uid}
		AND date_format(create_time, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
		AND `status` IN (22, 31)
	</select>

	<select id="selectOrderByPayNoAndAlias" resultType="map">
		SELECT o.id,o.`status` FROM tb_order o
		LEFT JOIN tb_order_pay p ON p.order_id = o.id
		WHERE p.pay_no = #{payNo} AND o.merchant = #{alias}
	</select>
</mapper>