<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.UserBankMapper">
	<resultMap id="BaseResultMap" type="com.mod.loan.model.UserBank">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="uid" jdbcType="BIGINT" property="uid" />
		<result column="card_code" jdbcType="VARCHAR" property="cardCode" />
		<result column="card_name" jdbcType="VARCHAR" property="cardName" />
		<result column="card_no" jdbcType="VARCHAR" property="cardNo" />
		<result column="card_phone" jdbcType="VARCHAR" property="cardPhone" />
		<result column="card_status" jdbcType="TINYINT" property="cardStatus" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="foreign_id" jdbcType="VARCHAR" property="foreignId" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
	</resultMap>

	<select id="selectUserCurrentBankCard" resultMap="BaseResultMap">
		select * from tb_user_bank where uid=#{uid} and card_status=1
	</select>
</mapper>