<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="PROJECT"  value="loan-pay"/>
    <property name="LOG_PATH" value="/home/developer/logs/${PROJECT}/${PROJECT}.log" />  <!-- 日志路径 -->
	<property name="PATTERN" value="%d %p ${PID:- } --- [%thread] %c[%L]  : %m%n" />  
    <property name="LOG_LEVEL" value="INFO" />  
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${PATTERN}</pattern>
			<charset>UTF-8</charset> 
		</encoder>
	</appender>
	<root level="${LOG_LEVEL}">
		<appender-ref ref="CONSOLE"></appender-ref>
		<appender-ref ref="FILE"></appender-ref>
	</root>
</configuration>  